/* COLORS */
$color-gray: #24292e;
$color-green: #52de97;
$color-white: white;
$color-light-gray: #f6f8fa;

/* OTHER */
$border: 1px solid #e1e4e8;
$border-radius: 6px;
$box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
